/* .p{
    width: 700px;
    height: 400px;
    background-image: image();
}

.p1{
    width: 700px;
    height: 400px;
    background-image: image();
}

.perritos{
    width: 700px;
    height: 400px;
    background-image: image();
    background-repeat: no-repeat;
    background-size: 100%;
} */