body{
    margin: 0px;
    padding: 0%;
}
.grid{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-areas: "my-header" "my-nav" "my-section" "my-aside" "my-footer";
}

main{
    color: black;
    font-family: 'Gill Sans';
    padding-top: 3rem;
}
#caja01{
    margin: 0px;
    padding: 10px;
    text-align:left;
    color:white;
    background-color:steelblue;
}
#caja02{
    margin-top: auto;
}
#mifoto{
    width: 130px;
    height: 150px;
    margin-right: 20px;
    float: left;
}
#is{
    text-align: right;
}

header{

    text-align:left;
    color:white;
    background-color:rgb(224, 197, 41);
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    grid-area: my-header;
}

nav{
    background-color: white;
    grid-area: my-nav;
}
section{
    font-family: arial;
    background-color: white;
    grid-area: my-section;
    text-align: center;  
    padding-top: 20px;
}

section p{
    font-size: 30px;
    font-weight: bolder;
    margin-top:1%;
}
form label, textarea{
    font-size: 18px;
    width: 15%;
    margin: 1%;
    display:inline-block;
    vertical-align:middle;
 
}
form{
    width:50%;
    background-color: rgba(82, 141, 165, 0.363);
    padding: 3% ;
    margin-top: 0% auto;
    border-radius: 3px;
    margin-left: 270px;
    font-size: 12px;
    height: 410px;
        
}
input,textarea{
    border:0;
    outline: none;
    
}
.field{
    border: solid 1px #ccc;
    padding: 10px;
    width: 60%;
    background-color: white;
    margin: 1% ;
    
    
}
.btn{
    border-radius:  5px;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    box-shadow: 0 1px 1px rgb(16, 196, 219);
    margin: 2%;
    width: 30%;
    height: 35px;

}
.btn-blue{
    color: white;
    background-color: teal;
    
}
.btn-blue:hover{
    background-color: rgb(3, 54, 54);
}
.btn-blue:active{
    background-color: rgb(40, 184, 228);
}
section #info {
    float: right;
    margin-right: 16%;
    margin-top: 5%;
   height: 20%;
    font-size: 26px;
    padding: 0%;
    
}
section #info ul{
    padding-left: 16%;
}



aside{
    background-color: skyblue;
    grid-area: my-aside;
}
#mifoto4{
    width: 150px;
    height: 140px;
    margin-right: 120px;
    margin-left: 30px;
    float: left ;
}
#cuadro{
    background-color: steelblue;
    scroll-margin-block: 0px;
    border-color:steelblue;
    margin-left: 0%;
    margin-right: 0%;
}
#tabla{
    text-align: left;
    width: 50%;
    height: 50%;
    color: aliceblue;
}
footer{
    
    text-align: center;
    background-color: steelblue;
    grid-area: my-footer;
    text-align: center;
    width: 100%;
    height: 160px;
    bottom: 0;
    position: fixed;
    

}
@media(min-width:600px) and (max-width:1000px){
    .grid{
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 50px 1fr 100px;
        grid-template-areas: "my-header my-header" "my-nav my-nav" "my-aside my-section" "my-footer my-footer";
    }
}
@media(min-width:1001px){
    .grid{
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 200px 1fr 100px;
        grid-template-areas: "my-header my-header my-header" "my-nav my-section my-aside" "my-footer my-footer my-footer";
    }
}