body{
    margin: 0px;
}
.grid{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-areas: "my-header" "my-nav" "my-section" "my-aside" "my-footer";
}
#caja01{
    margin: 0px;
    padding: 10px;
    text-align:left;
    color:white;
    background-color:steelblue;
}
#caja02{
    margin-top: auto;
}
#mifoto{
    width: 130px;
    height: 150px;
    margin-right: 20px;
    float: left;
}
#is{
    text-align: right;
}
#caja03{
    text-align: justify;
    margin: 10px;
    float: right;
}
#mifoto2{
    width: 180px;
    height: 200px;
    margin-right: 20px;
    margin-left: 30px;
    float: right ;
}
#caja04{
    text-align: justify;
    margin: 10px;
    float: right;
}
#mifoto3{
    width: 180px;
    height: 200px;
    margin-right: 20px;
    margin-left: 30px;
    float: right ;
}
header{
    text-align:left;
    color:white;
    background-color:rgb(117, 117, 206);
    grid-area: my-header;
}
section{
    font-family: arial;
    background-color: w;
    grid-area: my-section;
}
footer{
    text-align: center;
    color: aliceblue;
    /* background-color: black; */
    grid-area: my-footer;
    text-align: center;
}